/*-----------------
    BOOKING FORM
-----------------*/
/* Stilizza il form */
.reservation-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Stilizza gli input */
.form-control {
    margin-bottom: 10px;
}

/* Stilizza il pulsante di invio */
.submit-button {
    display: block;
    width: 100%;
}

/* Stilizza le etichette */
.form-label {
    font-weight: bold;
}

/* Allinea le date sulla stessa riga */
.date-inputs {
    display: flex;
    justify-content: space-between;
}

/* Stilizza il pulsante per la visualizzazione delle prenotazioni */
.view-button {
    display: block;
    margin-top: 10px;
}


.delete-button {
    background-color: #dc3545;
    border-color: #dc3545;
}

.delete-button i {
    color: white;
}